* {
  margin: 0;
  padding: ;
  box-sizing: border-box;
}

.link {
  color: #0a66c2;
  font-size: 35px;
  margin-left: 50px;
  margin-top: 50px;
  font-weight: bolder;
  font-family: sans-serif;
  
}

.in {
  color: white;
  background-color: blue;
  border-radius: 4px;
  
  
  
}

.main_div {
  display: flex;
  justify-content: center;
  gap: 100px;
}

form {
  flex-direction: column;
  display: flex;
  border: solid rgb(223, 221, 221);
  width: 400px;
  height: 750px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

input {
  padding: 18px;
  margin-top: 18px;
  margin-bottom: 15px;
  border-radius: 6px;
  
}

.forgot {
  margin-bottom: 20px;
  color: #248dc5;
  display: flex;
  font-size: 23px;
  font-weight: bold;
}

.sign {

  color: white;
  border-radius: 25px;
  background-color: #0a66c2;
  height: 90px;
  border: none;
  margin-bottom: 20px;
  font-size: 15px;
}

.break {
 
}


 .line hr{
  width: 140px;
  display: flex;
  margin-bottom: 5;
}

.h6 {
  font-size: 14px;
  width: 400px;
  margin-bottom: 2px;
  margin-top: 20px;
}

.span1 {
  color: #248dc5;
 
}

.span2 {
  color: #248dc5;
}

.btn1 {
  
  color: rgb(43, 41, 41);
  border-radius: 25px;
  background-color: white;
  height: 80px;
  border: none;
  margin-bottom: 3px;
  font-size: 15px;
  border: 1px solid gray;
  margin-top: 15px;
  font-size: 16px;
  
}

.btn2 {
 
  color: gray;
  border-radius: 25px;
  background-color: white;
  height: 80px;
  border: none;
  margin-bottom: 3px;
  font-size: 15px;
  border: 1px solid gray;
  margin-top: 15px;
}

.btn3 {

  color: gray;
  border-radius: 25px;
  background-color: white;
  height: 80px;
  border: none;
  margin-bottom: 3px;
  font-size: 15px;
  border: 1px solid gray;
  margin-top: 15px;
}

.btn4 {

  color: gray;
  border-radius: 25px;
  background-color: white;
  height: 80px;
  border: none;
  margin-bottom: 3px;
  font-size: 15px;
  border: 1px solid gray;
  margin-top: 15px;
}

.p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}

.p2{
  color: #248dc5;
}


.list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: grey;
  gap: 20px;
  list-style: none;
  margin-bottom: 50px;
  margin-right: 40px;
}

